.header {
  display: flex;
  justify-content: center;
  font-size: 32px;
  color: #555555;
  transition: color 0.3s ease;
  padding: 12px;
  background-color: antiquewhite;
  column-gap: 30px;
}

.header:hover {
  color: #222222;
}
