.main_page {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: aliceblue;
  align-items: center;
  flex: auto;
}

.loadBtn {
  margin-top: 20px;
  padding: 12px;
  font-size: 14px;
  width: fit-content;
}

.pagination {
  width: 50%;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.pagebtn {
  padding: 5px;
  font-size: 14px;
  background-color: beige;
  cursor: pointer;
  align-items: flex-end;
}
.pageActive {
  background-color: rgb(184, 184, 134);
}
.pagebtn:hover {
  background-color: #8c8c50;
}
